<?xml version="1.0" encoding="UTF-8"?>
<robot name="Button_Assembly">
  <joint name="PrismaticJoint" type="prismatic">
    <origin xyz="-0. 0. -0." rpy="0. -0. -0."/>
    <parent link="World"/>
    <child link="button_pivot"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.01" upper="0." effort="10000000." velocity="0."/>
  </joint>
  <joint name="RevoluteJoint" type="revolute">
    <origin xyz="-0.0034325 0.0304632 0. " rpy="0. 0.0000001 0. "/>
    <parent link="World"/>
    <child link="lid_pivot"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.5707963" upper="0.6981317" effort="0." velocity="0."/>
  </joint>
  <link name="World">
    <visual>
      <origin xyz="-0.0209518 -0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__corpo1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0209518 -0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__corpo1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="button_pivot">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__botao1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__botao1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="lid_pivot">
    <visual>
      <origin xyz="0.0055156 0.0175212 -0.0249821" rpy="-1.5707964 -1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__Tampa1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0055156 0.0175212 -0.0249821" rpy="-1.5707964 -1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/tn__Tampa1_dC_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
