<?xml version="1.0" encoding="UTF-8"?>
<robot name="M8_Assy">
  <joint name="PrismaticJoint" type="prismatic">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="rot_pivot"/>
    <child link="nut_pivot"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="0." upper="0.015" effort="10000000." velocity="0."/>
  </joint>
  <joint name="RevoluteJoint" type="continuous">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="World"/>
    <child link="rot_pivot"/>
    <axis xyz="1. 0. 0."/>
  </joint>
  <link name="World">
    <visual>
      <origin xyz="-0.0253536 0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/M8_Screw_Base_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0253536 0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/M8_Screw_Base_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="nut_pivot">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/M8_Nut_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 1.5707964 0. "/>
      <geometry>
        <mesh filename="meshes/M8_Nut_Corpo1_Mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="rot_pivot">
    <visual>
      <origin xyz="-0.0142895 0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0142895 0. 0. " rpy="0. 1.5707964 0. "/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </collision>
  </link>
</robot>
