<?xml version='1.0' encoding='utf-8'?>
<robot name="Key_assembly">
  <link name="Key_assembly">
    <inertial><origin xyz="0.000010 0.000039 0.000013" rpy="0 0 0" /><mass value="0.0050" /><inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06" /></inertial><visual>
      <origin xyz="-0.005997 0.004981 -0.014136" rpy="0. 0. -1.5707964" />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_Mesh.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.024253 0.000000 0.000000" rpy="0. 1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Cylinder.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.003488 0.000000 -0.001649" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.003485 -0.009519 -0.011120" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_01.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.051511 0.000000 -0.001081" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_02.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.070482 0.000000 -0.001081" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_03.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.061007 0.000000 0.008393" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_04.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.061007 0.000000 -0.010635" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Cube_05.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.005037 0.000000 0.000000" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_Mesh.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.002561 -0.025334 -0.000107" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.002561 0.025258 -0.000107" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_01.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.002561 -0.000066 0.020827" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_02.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.002561 -0.000066 -0.025852" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_03.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.002561 -0.003110 -0.015502" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_04.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.024253 0.000000 0.000000" rpy="0. 1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Cylinder.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.003488 0.000000 -0.001649" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.003485 -0.009519 -0.011120" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_01.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.051511 0.000000 -0.001081" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_02.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.070482 0.000000 -0.001081" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_03.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.061007 0.000000 0.008393" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Key_pivot_Corpo1_simple_colliders_Cube_04.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.061007 0.000000 -0.010635" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Cube_05.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.002561 -0.025334 -0.000107" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.002561 0.025258 -0.000107" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_01.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.002561 -0.000066 0.020827" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_02.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.002561 -0.000066 -0.025852" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_03.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.002561 -0.003110 -0.015502" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Key_Base_pivot_Corpo1_simple_colliders_Cube_04.obj" scale="0.001000 0.001000 0.001000" />
      </geometry>
    </collision>
  </link>
</robot>