<?xml version='1.0' encoding='utf-8'?>
<robot name="Small_Valve">
  <joint name="PrismaticJoint" type="prismatic">
    <origin xyz="-0. -0. 0." rpy="-0.000259 0. 0. " />
    <parent link="pivot_registro" />
    <child link="eixo_trans" />
    <axis xyz="0. 0. 1." />
    <limit lower="-0.02" upper="0.015" effort="100.0" velocity="1.0" />
  </joint>
  <joint name="RevoluteJoint" type="continuous">
    <origin xyz="0. -0. 0." rpy="1.5707964 0. 0. " />
    <parent link="valvula_gaveta" />
    <child link="pivot_registro" />
    <axis xyz="0. 0. 1." />
  </joint>
  <link name="eixo_trans">
    <inertial><origin xyz="0.000000 0.000000 0.101700" rpy="0 0 0" /><mass value="0.0050" /><inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06" /></inertial><visual>
      <origin xyz="0. 0.0000187 -0.0723285" rpy="0.000259 0. 0. " />
      <geometry>
        <mesh filename="meshes/Mesh_21.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0.0000187 -0.0723285" rpy="-0.0002218 0.0001332 -2.6011126" />
      <geometry>
        <mesh filename="meshes/Mesh_22.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0.0000187 -0.0723285" rpy="-0.0002218 0.0001332 -2.6011126" />
      <geometry>
        <mesh filename="meshes/Mesh_22.obj" scale="1. 1. 1." />
      </geometry>
    </collision>
  </link>
  <link name="pivot_registro">
    <inertial><origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" /><mass value="0.0050" /><inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06" /></inertial><visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Cylinder.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/Cylinder.obj" scale="1. 1. 1." />
      </geometry>
    </collision>
  </link>
  <link name="valvula_gaveta">
    <inertial><origin xyz="0.000000 0.000000 0.034500" rpy="0 0 0" /><mass value="0.5310" /><inertia ixx="0.000533771" ixy="0" ixz="0" iyy="0.000619637" iyz="0" izz="0.000601061" /></inertial><visual>
      <origin xyz="0. 0.0740621 0. " rpy="1.5707964 0. 0. " />
      <geometry>
        <mesh filename="meshes/Mesh_1.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0.0740621 0. " rpy="1.5707964 0. 0. " />
      <geometry>
        <mesh filename="meshes/Mesh_1.obj" scale="1. 1. 1." />
      </geometry>
    </collision>
  </link>
</robot>