<?xml version='1.0' encoding='utf-8'?>
<robot name="Shock_Absorber_Assembly">
  <link name="Montagem_Principal">
    <visual>
      <origin xyz="0.000000 0.016378 -0.048893" rpy="3.1415927 0. 0. " />
      <geometry>
        <mesh filename="meshes/MeshInstance_Corpo1.obj" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.035000 0.016489 -0.063893" rpy="0. 0. 0." />
      <geometry>
        <mesh filename="meshes/MeshInstance_1_Corpo1.obj" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.045000 0.016489 -0.042935" rpy="0. -1.5707964 0. " />
      <geometry>
        <mesh filename="meshes/Corpo3.obj" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  <collision><origin xyz="0.000000 0.016378 -0.048893" rpy="3.1415927 0. 0. " /><geometry><mesh filename="meshes/MeshInstance_Corpo1.obj" scale="0.001 0.001 0.001" /></geometry></collision><collision><origin xyz="-0.035000 0.016489 -0.063893" rpy="0. 0. 0." /><geometry><mesh filename="meshes/MeshInstance_1_Corpo1.obj" scale="0.001 0.001 0.001" /></geometry></collision><collision><origin xyz="-0.045000 0.016489 -0.042935" rpy="0. -1.5707964 0. " /><geometry><mesh filename="meshes/Corpo3.obj" scale="0.001 0.001 0.001" /></geometry></collision></link>
</robot>